* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Press Start 2P", cursive;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #ededed;
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

#menu-icon {
  font-size: 3.6rem;
  color: #ededed;
  cursor: pointer;
}

section {
  padding: 10rem 9% 2rem;
  max-height: 1400px;
}

.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.layer1 {
  background-image: url("../img/layer1.png");
}

.layer2 {
  background-image: url("../img/layer2.png");
}

.layer3 {
  background-image: url("../img/layer3.png");
}

.home {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 9%;
  height: 100vh;
  max-height: 1068px;
}

.home::before {
  position: absolute;
  content: "";
  background-image: url("../img/HomeBackgrnd.png");
  background-size: cover;
  opacity: 0.3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home__content {
  max-width: 68rem;
}

.home__content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home__content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home__content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #00abf0;
}

.home__content p {
  font-size: 1.3rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 100%;
  background: #00abf0;
  border: 0.2rem solid #00abf0;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  background: #c64917 url("../img/pixel.png");
  background-size: contain;
  transition-delay: 0.8s;
  background-size: 100%;
  animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -470px;
  }
}
.home-imgHover {
  width: 45%;
  height: 45%;
  background: transparent;
  border: 2px solid #ff0000;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-profile {
  border-radius: 50%;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
}

.shortLinks-profile {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.shortLink {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  transition: 600ms;
}

.shortLink:hover {
  transform: translateY(-3px) scale(1.1);
}

.shortLink-icon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.projects {
  max-height: 1400px;
  height: 100vh;
  position: relative;
}

.projects::before {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/projectsBground.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.projects h3 {
  font-size: 4.5rem;
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
}

.projects h3 span {
  color: red;
}

.projects-scheme {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.projects-container {
  display: grid;
  gap: 1rem;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projectsec {
  position: relative;
  border: solid 2px red;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: 500ms;
  background-color: #112e42;
}

.projectsec:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.projectsec img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(100% - 6.8rem);
}

.project-title {
  font-size: 0.8rem;
  padding: 2rem 0.5rem;
  color: white;
  text-decoration: none;
  background-color: red;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.skills {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/skillBackground.png");
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.2;
}

.title-skills {
  display: flex;
}

.skills h3 {
  font-size: 3.5rem;
  display: block;
  margin: 0 0 0 20px;
  width: 80%;
  text-align: left;
}

.skills-container {
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.skills-container-gif {
  width: 50px;
  height: 50px;
  background-image: url("../img/lizard-anim.gif");
  background-size: cover;
}

.skills-container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.skill-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  transition: 1s;
}

.contact {
  padding-bottom: 8rem;
  background-image: url("../img/contactBackground.png");
  background-size: cover;
}

.contact h3 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 15vh;
}

.contact form {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
}

.contact form .input-box .input-field {
  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background: transparent;
  border-radius: 10px;
  border: solid 0.5rem #00abf0;
  color: #00abf0;
  font-size: 1.1rem;
}

.contact form .input-box .input-field input::-moz-placeholder {
  color: #00abf0;
  font-size: 1.4rem;
}

.contact form .input-box .input-field input::placeholder {
  color: #00abf0;
  font-size: 1.4rem;
}

.contact form .textarea-field {
  margin: 0.8rem 0;
}

.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: transparent;
  border: solid 0.5rem #00abf0;
  color: #00abf0;
  border-radius: 10px;
  line-height: 2rem;
}

.contact form .textarea-field textarea::-moz-placeholder {
  color: #00abf0;
}

.contact form .textarea-field textarea::placeholder {
  color: #00abf0;
}

.contact form .btn-box {
  width: 100%;
  justify-content: center;
}

/* 2xl --------------------------------------*/
@media (max-width: 1536px) {
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 2.5rem;
  }
  .home__content {
    max-width: 68rem;
  }
  .home-imgHover {
    top: 23.4%;
  }
  .img-profile {
    width: 70%;
  }
  .shortLinks-profile {
    top: 5.4%;
  }
  .projects h3 {
    font-size: 2.5rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .skills {
    height: 500px;
  }
  .skills h3 {
    font-size: 2.5rem;
  }
  .contact h3 {
    margin-bottom: 10vh;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 2rem;
  }
}
/* xl --------------------------------------*/
@media (max-width: 1280px) {
  .home__content h1 {
    font-size: 3.5rem;
  }
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 2.5rem;
  }
  .home__content {
    max-width: 48rem;
  }
  .home-imgHover {
    top: 23.4%;
  }
  .img-profile {
    width: 70%;
  }
  .shortLinks-profile {
    top: 5.4%;
  }
  .projects {
    height: 800px;
  }
  .projects h3 {
    font-size: 2.5rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .skills h3 {
    font-size: 2.5rem;
  }
  .skill-logo {
    width: 80px;
    height: 80px;
  }
  .contact h3 {
    margin-bottom: 100px;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 2rem;
  }
}
/* lg */
@media (max-width: 1024px) {
  .home {
    height: 768px;
  }
  .home__content h1 {
    font-size: 2.5rem;
  }
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .home__content {
    max-width: 38rem;
  }
  .btn-box {
    width: 30rem;
  }
  .btn-box .btn {
    font-size: 1rem;
    margin-left: 5%;
  }
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -350px;
    }
  }
  .home-imgHover {
    top: 24.7%;
    height: 55%;
  }
  .img-profile {
    width: 70%;
  }
  .shortLinks-profile {
    top: 23.3%;
  }
  .projects {
    height: 800px;
    padding-top: 0;
  }
  .projects h3 {
    font-size: 2.2rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .skills {
    height: 400px;
  }
  .skills h3 {
    font-size: 2.2rem;
  }
  .skill-logo {
    width: 60px;
    height: 60px;
  }
  .contact {
    padding-top: 100px;
  }
  .contact h3 {
    margin-bottom: 40px;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 2rem;
  }
}
/* md --------------------------------------*/
@media (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }
  .home {
    height: 1068px;
    flex-direction: column-reverse;
  }
  .home__content h1 {
    font-size: 2rem;
  }
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .home__content p {
    font-size: 1rem;
    margin: 2rem 0 2rem;
  }
  .home__content {
    max-width: 58rem;
  }
  .shortLink {
    width: 30px;
    height: 30px;
  }
  .btn-box {
    width: 22rem;
    height: 3rem;
  }
  .btn-box .btn {
    width: 10rem;
    font-size: 0.7rem;
    margin-left: 0;
  }
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -250px;
    }
  }
  .home-imgHover {
    position: static;
    height: 30%;
  }
  .img-profile {
    width: 70%;
  }
  .projects {
    height: 800px;
    padding-top: 0;
  }
  .projects h3 {
    font-size: 2rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .skills {
    height: 400px;
  }
  .skills h3 {
    font-size: 2rem;
  }
  .skill-logo {
    width: 60px;
    height: 60px;
  }
  .contact {
    padding-top: 100px;
  }
  .contact h3 {
    margin-bottom: 40px;
    font-size: 2rem;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 1rem;
    font-size: 0.8rem;
  }
  .contact form .textarea-field textarea {
    font-size: 0.8rem;
  }
}
/* sm --------------------------------------*/
@media (max-width: 640px) {
  .logo {
    font-size: 1.8rem;
  }
  .home {
    height: 700px;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .home__content h1 {
    font-size: 2rem;
  }
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .home__content p {
    font-size: 1rem;
    margin: 2rem 0 2rem;
  }
  .home__content {
    max-width: 58rem;
  }
  .shortLink {
    width: 30px;
    height: 30px;
  }
  .btn-box {
    width: 22rem;
    height: 3rem;
  }
  .btn-box .btn {
    width: 10rem;
    font-size: 0.7rem;
    margin-left: 0;
  }
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -250px;
    }
  }
  .home-imgHover {
    position: static;
    height: 25%;
    margin-top: 25%;
  }
  .img-profile {
    width: 80%;
  }
  .projects {
    height: 700px;
    padding-top: 40px;
  }
  .projects h3 {
    font-size: 1.5rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .skills {
    height: 350px;
  }
  .skills h3 {
    font-size: 1.4rem;
  }
  .skill-logo {
    width: 35px;
    height: 35px;
  }
  .contact {
    padding-top: 90px;
  }
  .contact h3 {
    margin-bottom: 40px;
    font-size: 2rem;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 1rem;
    font-size: 0.7rem;
  }
  .contact form .input-box .input-field input::-moz-placeholder {
    font-size: 0.7rem;
  }
  .contact form .input-box .input-field input::placeholder {
    font-size: 0.7rem;
  }
  .contact form .textarea-field textarea {
    font-size: 0.7rem;
  }
}
/* xs --------------------------------------*/
@media (max-width: 475px) {
  .logo {
    font-size: 1.8rem;
  }
  .home {
    height: 700px;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .home__content h1 {
    font-size: 2rem;
  }
  .home__content h1 span::before {
    content: "\a";
    white-space: pre;
  }
  .home__content .text-animate h3 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .home__content p {
    font-size: 1rem;
    margin: 2rem 0 2rem;
  }
  .home__content {
    max-width: 58rem;
  }
  .shortLink {
    width: 30px;
    height: 30px;
  }
  .btn-box {
    width: 22rem;
    height: 3rem;
  }
  .btn-box .btn {
    width: 10rem;
    font-size: 0.7rem;
    margin-left: 0;
  }
  @keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -250px;
    }
  }
  .home-imgHover {
    position: static;
    height: 25%;
    margin-top: 25%;
  }
  .img-profile {
    width: 80%;
  }
  .projects {
    height: 550px;
    padding-top: 40px;
  }
  .projects h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
  .projectsec {
    height: 110px;
  }
  .project-title {
    padding: 0;
  }
  .skills {
    height: 250px;
    padding-top: 2.5rem;
  }
  .skills h3 {
    font-size: 1.2rem;
  }
  .skill-logo {
    width: 20px;
    height: 20px;
  }
  .contact {
    padding-top: 30px;
  }
  .contact h3 {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
  .contact form {
    width: 80%;
  }
  .contact form .input-box .input-field input {
    padding: 1rem;
    font-size: 0.6rem;
    border: solid 2px #00abf0;
  }
  .contact form .input-box .input-field input::-moz-placeholder {
    font-size: 0.6rem;
  }
  .contact form .input-box .input-field input::placeholder {
    font-size: 0.6rem;
  }
  .contact form .textarea-field textarea {
    font-size: 0.6rem;
    border: solid 2px #00abf0;
  }
}/*# sourceMappingURL=style.css.map */