@use '../abstracts/variables' as *;
.contact {
  padding-bottom: $contact-padding-bot;
  background-color: $bg-color2;
  background-size: $contact-bg-size;
}

.contact h3 {
  margin-bottom: $contact-title-margbottom;
}
