@use '../abstracts/variables' as *;
.contact {
  padding-bottom: 8rem;
  background-color: $bg-color2;
  background-size: cover;
}

.contact h3 {
  text-align: center;
  font-size: $h3titles-size;
  margin-bottom: 15vh;
}
