@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.home {
  display: $home-display;
  position: $home-position;
  align-items: $home-align-items;
  justify-content: $home-justify;
  padding: 0 9%;
  height: $home-height;

  //large
  @include breakpoint('large') {
    flex-direction: column-reverse;
    padding-top: 10rem;
  }
  //medium
  @include breakpoint('medium') {
    padding-top: 17rem;
  }
  //small
  @include breakpoint('small') {
  }
  //extraSmall
  @include breakpoint('extraSmall') {
    padding-top: 2rem;
  }

  &__content {
    max-width: $home-contentWidth;

    //fhd
    @include breakpoint('fhdscreen') {
      max-width: 100rem;
      margin-top: 4rem;
    }
    //xextraLarge
    @include breakpoint('xextraLarge') {
      max-width: 80rem;
      margin-top: 15rem;
    }
    //extraLarge
    @include breakpoint('extraLarge') {
      max-width: 70rem;
      margin-top: 20rem;
    }
    //large
    @include breakpoint('large') {
      width: 100%;
      margin-top: 0;
    }
    //medium
    @include breakpoint('medium') {
    }
    //small
    @include breakpoint('small') {
    }
    //extraSmall
    @include breakpoint('extraSmall') {
    }
  }

  &__text-animate {
    position: $text-position;
    width: $home-textanimate-width;
  }

  &__content p {
    margin: $text-margin;
    display: flex;
  }

  &__links-container {
    margin-bottom: $links-bottom-margin;
    display: $links-display;
    justify-content: $links-justify;
  }

  &__shortlink {
    width: $shortlink-width;
    height: $shortlink-height;
    margin-right: $shortlink-margin-right;
    transition: $shortlink-transition;

    //fhd
    @include breakpoint('fhdscreen') {
      width: 7rem;
      height: 7rem;
    }
  }

  &__shortlink:hover {
    transform: translateY($shortlink-transformY) scale($shortlink-scale);
  }

  &__shortlink-icon {
    object-fit: $shortlink-icon-objfit;
    width: $shortlink-icon-width;
    height: $shortlink-icon-height;
  }

  &__imgHover {
    width: $imgHover-width;
    height: $imgHover-height;
    background: $imgHover-background;
    border: $imgHover-border;
    max-width: $imgHover-max-width;
    max-height: $imgHover-max-height;
    display: $imgHover-display;
    justify-content: $imgHover-justify;
    align-items: $imgHover-align;
  }

  &__img-profile {
    border-radius: $img-profile-border-radius;
    display: $img-profile-display;
    margin: $img-profile-margin;
    object-fit: $img-profile-objfit;
    width: $img-profile-width;
  }
}

.home::before {
  position: $before-position;
  content: $before-content;
  background-image: url($home-background);
  background-size: $before-bg-size;
  opacity: $home-before-opacity;
  left: $before-left;
  top: $before-top;
  width: $before-width;
  height: $before-height;
  z-index: $before-z-index;
}
