@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.projects {
  max-height: $projects-height;
  height: $projects-height;
  position: $projects-position;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h3 {
    margin-bottom: 10vh;
  }

  &__container {
    display: $container-display;
    gap: $container-gap;
    width: $container-width;
    grid-template-columns: repeat(auto-fit, minmax($container-imgwidth, 1fr));

    //2k
    @include breakpoint(2kscreen) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      background: red;
    }

    // //fhd
    // @include breakpoint(fhdscreen) {
    // }

    // //xextraLarge
    // @include breakpoint(xextraLarge) {
    // }
    // //extraLarge
    // @include breakpoint(extraLarge) {
    // }
    // //large
    // @include breakpoint(large) {
    // }
    // //medium
    // @include breakpoint(medium) {
    // }
    // //small
    // @include breakpoint(small) {
    // }
    // //extraSmall
    // @include breakpoint(extraSmall) {
    // }
  }
}

.projects::before {
  position: $before-position;
  left: $before-left;
  top: $before-top;
  background-image: url($projects-background);
  background-size: $before-bg-size;
  width: $before-width;
  height: $before-width;
  content: $before-content;
  z-index: $before-z-index;
}
