@use '../abstracts/variables' as *;
.projects {
  max-height: $projects-height;
  height: $projects-height;
  position: relative;

  & h3 {
    font-size: $h3titles-size;
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
  }

  & h3 span {
    color: red;
  }

  &__container {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.projects::before {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url($projects-background);
  background-size: cover;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
}
