@use '../abstracts/variables' as *;
.projects {
  max-height: $projects-height;
  height: $projects-height;
  position: $projects-position;

  & h3 {
    font-size: $h3titles-size;
    text-align: $h3titles-align;
  }

  & h3 span {
    color: $h3titles-span-color;
  }

  &__container {
    display: $container-display;
    gap: $container-gap;
    width: $container-width;
    grid-template-columns: repeat(auto-fit, minmax($container-imgwidth, 1fr));
  }
}

.projects::before {
  position: $projects-before-position;
  left: $projects-before-left;
  top: $projects-before-top;
  background-image: url($projects-background);
  background-size: $projects-before-bg-size;
  width: $projects-before-width;
  height: $projects-before-width;
  content: $projects-before-content;
  z-index: $projects-before-z-index;
}
