@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
.skills {
  height: $skills-height;
  position: $skills-position;
  display: $skills-display;
  flex-direction: $skills-flex-dir;
  justify-content: $skills-justify;
  padding: $skills-padding;
  align-items: center;

  & h3 {
    text-align: center;
    position: absolute;
    top: 0rem;
    //extraSmall
    @include breakpoint('extraSmall') {
      top: 5rem;
    }
  }
  &__container {
    width: $skills-container-width;
    display: $skills-container-display;
    margin-top: $skills-container-margin-top;
  }

  &__icons {
    display: $skill-icons-display;
    justify-content: $skill-icons-justify;
    align-items: $skill-icons-align;
    margin: $skill-icons-margin;
  }
  &__logo {
    width: rem(200);
    height: rem(200);
    margin: $skill-logo-margin;
    transition: $skill-logo-transition;

    //fhd
    @include breakpoint('fhdscreen') {
      width: rem(150);
      height: rem(150);
    }

    //xextraLarge
    @include breakpoint('xextraLarge') {
    }
    //extraLarge
    @include breakpoint('extraLarge') {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    }
    //large
    @include breakpoint('large') {
      width: rem(100);
      height: rem(100);
      margin: rem(10);
    }
    //medium
    @include breakpoint('medium') {
      grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    }
    //small
    @include breakpoint('small') {
      width: rem(80);
      height: rem(80);
    }
    //extraSmall
    @include breakpoint('extraSmall') {
      width: rem(40);
      height: rem(40);
      margin: 0.2rem;
    }
  }
}

.skills::before {
  content: $before-content;
  position: $before-position;
  left: $before-left;
  top: $before-top;
  width: $before-width;
  height: $before-height;
  background-image: url($skills-background);
  background-size: $before-bg-size;
  z-index: $before-z-index;
  opacity: $skills-before-opacity;
}
