@use '../abstracts/variables' as *;
.skills {
  height: $skills-height;
  position: $skills-position;
  display: $skills-display;
  flex-direction: $skills-flex-dir;
  justify-content: $skills-justify;

  &__title {
    display: $skills-title-display;
  }

  &__gif {
    width: $skills-gif-width;
    height: $skills-gif-height;
    background-image: url($skills-gif-bg-img);
    background-size: $skills-gif-bg-size;
  }

  & h3 {
    font-family: 'sabo';
    font-size: $h3titles-size;
    margin: $skills-title-margin;
    width: $skills-title-width;
    text-align: $skills-title-align;

    & span {
      font-family: 'sabo';
      color: red;
    }
  }

  &__container {
    width: $skills-container-width;
    display: $skills-container-display;
    margin-top: $skills-container-margin-top;
  }

  &__icons {
    display: $skill-icons-display;
    justify-content: $skill-icons-justify;
    align-items: $skill-icons-align;
    margin: $skill-icons-margin;
  }
  &__logo {
    width: $skill-logo-width;
    height: $skill-logo-height;
    margin: $skill-logo-margin;
    transition: $skill-logo-transition;
  }
}

.skills::before {
  content: '';
  position: $before-position;
  left: $before-content;
  top: $before-top;
  width: $before-width;
  height: $before-height;
  background-image: url($skills-background);
  background-size: $before-bg-size;
  z-index: $before-z-index;
  opacity: $skills-before-opacity;
}
