@use '../abstracts/variables' as *;
.form {
  text-align: $form-align;
  width: $form-width;
  margin: $form-margin;

  &__input-box {
    display: $input-box-display;
    justify-content: $input-box-justfy;
  }

  &__input-field {
    width: $input-field-width;
    margin: $input-field-margin;
  }

  &__input {
    width: $form-input-width;
    height: $form-input-height;
    padding: $form-input-padding;
    background: $form-input-bg;
    border-radius: $form-input-border-radius;
    border: $form-input-border;
    color: $main-color;
    font-size: $form-input-font-size;
  }

  &__input::placeholder {
    color: $main-color;
    font-size: $form-input-font-size;
  }

  &__textarea-field {
    margin: $input-field-margin;
  }

  &__textarea {
    width: $form-input-width;
    height: $form-input-height;
    font-size: $form-input-font-size;
    padding: $form-input-padding;
    background: $form-input-bg;
    border: $form-input-border;
    color: $main-color;
    border-radius: $form-input-border-radius;
    line-height: $form-textarea-line-height;
  }

  &__textarea::placeholder {
    color: $main-color;
  }

  .btn-box {
    width: 100%;
    justify-content: center;
  }
}
