@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.form {
  width: $form-width;
  margin: $form-margin;

  //large
  @include breakpoint('large') {
    width: 100%;
  }
  //small
  @include breakpoint('small') {
  }
  //extraSmall
  @include breakpoint('extraSmall') {
  }

  &__input-box {
    display: $input-box-display;
    justify-content: $input-box-justfy;
  }

  &__input-field {
    width: $input-field-width;
    margin: $input-field-margin;
  }

  &__input {
    width: $form-input-width;
    height: $form-input-height;
    padding: $form-input-padding;
    background: $form-input-bg;
    border-radius: $form-input-border-radius;
    border: $form-input-border;
  }

  &__textarea-field {
    margin: $input-field-margin;
  }

  &__textarea {
    width: $form-input-width;
    height: $form-input-height;

    padding: $form-input-padding;
    background: $form-input-bg;
    border: $form-input-border;

    border-radius: $form-input-border-radius;
  }

  .btn-box {
    width: 100%;
    justify-content: center;
  }
}
