@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  position: $header-position;
  top: $header-top;
  left: $header-left;
  width: $header-width;
  padding: $header-padding;
  background: $header-bg;
  display: $header-display;
  justify-content: $header-justify;
  align-items: $header-align;
  z-index: $header-z-index;
  backdrop-filter: blur(100px);
  // box-shadow: 0 15px 5px -15px rgb(211, 211, 211);

  #menu-icon {
    cursor: pointer;
  }

  @include breakpoint-up('medium') {
    #menu-icon {
      display: none;
    }
  }
}
