@use '../abstracts/variables' as *;

.header {
  position: $header-position;
  top: $header-top;
  left: $header-left;
  width: $header-width;
  padding: $header-padding;
  background: $header-bg;
  display: $header-display;
  justify-content: $header-justify;
  align-items: $header-align;
  z-index: $header-z-index;
}
