@use '../abstracts/variables' as *;
.navbar {
  display: $navbar-display;
  align-items: $navbar-align-items;

  #menu-icon {
    cursor: pointer;
  }
  &__link {
    margin-left: $navbar-link-margin-left;
    transition: $navbar-link-transition;
  }
}
