@use '../abstracts/variables' as *;
.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.layer1 {
  background-image: url($background-layer1);
}
.layer2 {
  background-image: url($background-layer2);
}
.layer3 {
  background-image: url($background-layer3);
}
