@use '../abstracts/variables' as *;

.btn-box {
  position: $btnbox-position;
  display: $btnbox-display;
  justify-content: $btnbox-justify;
  width: $btnbox-width;
  height: $btnbox-height;

  &__btn {
    position: $btn-position;
    display: $btn-display;
    justify-content: $btn-justify;
    align-items: $btn-align;
    width: $btn-width;
    height: $btn-heigth;
    background: $main-color;
    border: $btn-border;
    border-radius: $btn-border-radius;
    z-index: $btn-z-index;
    overflow: $btn-overflow;
    transition: $btn-transition;
  }

  &__btn:hover {
    background: $btn-background url($btn-pixelImg);
    background-size: $btn-bg-size;
    transition-delay: $btn-transition-delay;
    background-size: $btn-background-size;
    animation: $btn-animation;
  }
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -470px;
  }
}
