@use '../abstracts/variables' as *;
.projects__cards {
  position: $card-position;
  border: $card-border;
  width: $card-width;
  height: $card-height;
  text-align: $card-text-align;
  box-shadow: $card-box-shadow;
  transition: $card-transition;
  background-color: $second-bg-color;

  &:hover {
    box-shadow: $card-box-shadow;
    transform: translateY($card-hover-tranlateY) scale($card-hover-scale);
  }

  & img {
    object-fit: $card-img-objfit;
    width: $card-img-width;
    height: $card-img-height;
  }

  &__title {
    font-size: $text-size;
    padding: $card-title-padding;
    color: $card-title-color;
    text-decoration: $card-title-decoration;
    background-color: $card-title-bg-color;
    position: $card-title-position;
    width: $card-title-width;
    bottom: $card-title-bottom;
  }
}
