// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;
// $code-font-stack: 'Press Start 2P', cursive;

//dark blue
/// @type Color
$bg-color: #081b29;

//grey blue
/// @type Color
$second-bg-color: #112e42;

//white
/// @type Color
$text-color: #ededed;

//cyan
/// @type Color
$main-color: #00abf0;

/// Container's maximum width and height
/// @type Length
$max-width: 1180px !default;
$max-height: 1060px !default;

///SectionsHeight
/// @type Length
$home-height: 100vh;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'extraSmall': 475px,
  'small': 640px,
  'medium': 768px,
  'large': 1024px,
  'extraLarge': 1280px,
  '2xextraLarge': 1536px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

//Background URL for sections
/// @type String
$home-background: '../img/HomeBackgrnd.png';

/// Background relatives URL for spacers
/// @type String
$background-layer1: '../img/layer1.png';
$background-layer2: '../img/layer2.png';
$background-layer3: '../img/layer3.png';

/// Button's box dimensions
/// @type length
$btnBox-width: 38.5rem;
$btnBox-height: 5rem;

///Buttons dimensions
$btn-width: 18rem;
$btn-heigth: 100%;
$btn-background: #c64917;
$btn-pixelImg: '../img/pixel.png';
