// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;
// $code-font-stack: 'Press Start 2P', cursive;

//dark blue
/// @type Color
$bg-color: #081b29;

//mega dark blue
$bg-color2: #060c12;

//grey blue
/// @type Color
$second-bg-color: #112e42;

//white
/// @type Color
$text-color: #ededed;

//cyan
/// @type Color
$main-color: #00abf0;

/// Container's maximum width and height
/// @type Length
$max-width: 1180px !default;
$max-height: 1060px !default;

///SectionHomeMeasures
/// @type Length

//home::before variables
$before-position: absolute;
$before-content: '';
$before-bg-size: cover;
$home-before-opacity: 0.3;
$before-left: 0;
$before-top: 0;
$before-width: 100%;
$before-height: 100%;
$before-z-index: -1;

//home

//titles dimensions
$h1titles-size: 5.6rem;
$htitles-weight: 700;
$h1titles-line-height: 1.3;
$h3titles-size: 4.5rem;
$h3titles-align: center;
$h3titles-span-color: red;

//text animate variables
$text-size: 1.3rem;
$text-position: relative;
$text-margin: 2rem 0 4rem;

$home-height: 100vh;
$home-contentWidth: 68rem;
$home-textanimate-width: 32.8rem;
$home-imgHover-max-width: 500px;

//home variables
$home-display: flex;
$home-position: relative;
$home-align-items: center;
$home-justify: center;
$home--padding: 0 9%;

//home-links variables
$links-bottom-margin: 4rem;
$links-display: flex;
$links-justify: flex-start;
$shortlink-width: 50px;
$shortlink-height: 50px;
$shortlink-margin-right: 10px;
$shortlink-transition: 600ms;

$shortlink-transformY: -3px;
$shortlink-scale: 1.1;
$shortlink-icon-objfit: contain;
$shortlink-icon-width: 100%;
$shortlink-icon-height: 100%;

//imgHover variables
$imgHover-width: 45%;
$imgHover-height: 45%;
$imgHover-background: transparent;
$imgHover-border: 2px solid red;
$imgHover-max-width: 500px;
$imgHover-max-height: 500px;
$imgHover-display: flex;
$imgHover-justify: center;
$imgHover-align: center;

//img-profile variables
$img-profile-border-radius: 50%;
$img-profile-display: block;
$img-profile-margin: auto;
$img-profile-objfit: cover;
$img-profile-width: 70%;

//projects
$projects-maxHeight: 1400px;
$projects-height: 100vh;
$projects-position: relative;
//project-container
$container-display: grid;
$container-gap: 1rem;
$container-width: 100%;
$container-imgwidth: 300px;

//Skills
$skills-height: 500px;
$skills-position: relative;
$skills-display: flex;
$skills-flex-dir: column;
$skills-justify: center;
$skills-title-display: flex;
//skills gif
$skills-gif-width: 50px;
$skills-gif-height: 50px;
$skills-gif-bg-img: '../img/lizard-anim.gif';
$skills-gif-bg-size: cover;
//skills title
$skills-title-margin: 0 0 0 20px;
$skills-title-width: 80%;
$skills-title-align: left;
//skills container
$skills-container-width: 100%;
$skills-container-display: flex;
$skills-container-margin-top: 5%;
//skills icons
$skill-icons-display: flex;
$skill-icons-justify: center;
$skill-icons-align: center;
$skill-icons-margin: auto;
//skills logo
$skill-logo-height: 100x;
$skill-logo-width: 100px;
$skill-logo-margin: 10px;
$skill-logo-transition: 1s;
//skills before
$skills-before-opacity: 0.2;

//contact variables
$contact-padding-bot: 8rem;
$contact-bg-size: cover;
//contact title
$contact-title-margbottom: 15vh;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

//Background URL for sections
/// @type String
$home-background: '../img/HomeBackgrnd.png';
$projects-background: '../img/projectsBground.png';
$skills-background: '../img/skillBackground.png';
$contact-background: '../img/contactBackground.png';

/// Background relatives URL for spacers
/// @type String
$background-layer1: '../img/layer1.png';
$background-layer2: '../img/layer2.png';
$background-layer3: '../img/layer3.png';

/// Button's box variables
$btnbox-width: 38.5rem;
$btnbox-height: 5rem;
$btnbox-position: relative;
$btnbox-display: flex;
$btnbox-justify: space-between;

///Buttons dimensions
$btn-width: 18rem;
$btn-heigth: 100%;
$btn-background: #c64917;
$btn-pixelImg: '../img/pixel.png';
$btn-position: relative;
$btn-display: inline-flex;
$btn-justify: center;
$btn-align: center;
$btn-border: 0.2rem solid $main-color;
$btn-border-radius: 0.8rem;
$btn-font-size: 1.3rem;
$btn-font-weight: 600;
$btn-letter-spacing: 0.1rem;
$btn-z-index: 1;
$btn-overflow: hidden;
$btn-transition: 0.5s;
//btn hover
$btn-bg-size: contain;
$btn-transition-delay: 0.4s;
$btn-background-size: 100%;
$btn-animation: animate 0.8s steps(8) forwards;

//Project cards variables
$card-position: relative;
$card-border: solid 2px red;
$card-width: 100%;
$card-height: 100%;
$card-text-align: center;
$card-box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
  rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
$card-transition: 500ms;
//card-hover
$card-hover-tranlateY: -3px;
$card-hover-scale: 1.1;
//card-img
$card-img-objfit: cover;
$card-img-width: 100%;
$card-img-height: calc(100% - 6.8rem);
//card-title
$card-title-padding: 2rem 0.5rem;
$card-title-color: white;
$card-title-decoration: none;
$card-title-bg-color: red;
$card-title-position: absolute;
$card-title-width: 100%;
$card-title-bottom: 0;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'extraSmall': 475px,
  'small': 640px,
  'medium': 768px,
  'large': 1024px,
  'extraLarge': 1280px,
  '2xextraLarge': 1536px,
) !default;
